.developer-card {
  width: 300px;
  background-color: #7E459B;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  transition: background-color 0.3s;
}

.developer-card:hover {
  background-color: #D4D4D4;
}

.developer-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.developer-card h2 {
  font-size: 1rem;
}

.developer-card p {
  font-size: 1rem;
}